<section>
  <h1>Por favor faça login</h1>
  <p>Caso você ainda não tenha um login, por favor <%= link_to 'cadastre-se', signup_path %></p>

  <%= form_tag sessions_path do %>
    <div class="field">
      <%= label_tag :email %><br />
      <%= text_field_tag :email, params[:email] %>
    </div>
    <div class="field">
      <%= label_tag :cpf %> Sem pontos nem traços Ex: 32549237153<br />
      <%= password_field_tag :cpf %>
    </div>
    <div class="actions"><%= submit_tag "Log In" %></div>
  <% end %>
</section>