<section>
	<h1>Cadastrar Usuário</h1>

<%= form_for @user, :html => { :multipart => true } do |f| %>
	<% if @user.errors.any? %>
	<div id="error_explanation">
		<p>Veja abaixo porque não pudemos te cadastrar:</p>
		<ul>
			<% @user.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
		</ul>
	</div>
	<% end %>
	<p>
		<%= f.label "Nome" %><br>
		<%= f.text_field :name %>
	</p>

	<p>
		<%= f.label :cpf %><br>
		<%= f.text_field :cpf %>
	</p>

	<p>
		<%= f.label :email %><br>
		<%= f.text_field :email %>
	</p>


	<p>
	 	<%= f.label "Foto" %><br>
		<%= f.file_field :avatar %>
	</p>
	 
	<p>
		<%= f.hidden_field :sales, :value => "0" %>
	 	<%= f.submit "Cadastrar-me" %>
	</p>
<% end %>
</section>