<section id="home">
<h1>Total de Cotas Vendidas:</h1>
	<article id="generalbar">
		
		<div class="progress-bar-indication">
		  <span class="meter" style="width: <%= @sales_total %>%">
		    <p><%= @sales_total %> de 10</p>
		  </span>
		</div>
		<figure><%= image_tag("bonus.png") %></figure>

	</article>

	<article id="ranking">

		<h2>Veja quem está liderando:</h2>
		<% @users.order(sales: :desc).each do |user| %>
			<article class="vendedor">
				<div class="vendas">				
					<span><%= user.sales.to_i %></span>
				</div>
				<%= image_tag user.avatar.url, class: "foto"  %>
				<h3><%= user.name.split.map(&:capitalize).join(' ') %></h3>
			</article>
		<% end %>
	</article>
		
	<article id="premios">
		<h2>Como funciona:</h2>
		<div>
			<p>Por cada cota de patrocínio que você vender, do novo canal de vídeos da Rabbit, você vai receber uma comissão em dinheiro.</p>
			<p><b>Quanto mais vende, mais aumenta a comissão!</b><br>Veja os valores:</p>
			<ul>
				<li>1 Cota = R$300 de comissão</li>
				<li>2 Cotas = R$400 de comissão(por cota)</li>
				<li>3 ou mais Cotas = R$500 de comissão(por cota)!</li>
			</ul>

			<p>
				<br><b>Comissão bônus!</b></br>
				Se todas as cotas forem vendidas, toda a equipe de vendas vai ganhar uma comissão bônus, surpresa.
			</p>
			<%= link_to "Participe agora mesmo", signup_path, class: "botao" %>
		</div>
	</article>

</section>

