<header class="navigation">
  <div class="menu-wrapper">

    <%= link_to ( image_tag("home.png")), root_path, class: "logo" %>
    <p class="navigation-menu-button" id="js-mobile-menu">MENU</p>
    <div class="nav">
      <ul id="navigation-menu">
        <li><%= link_to "Regulamento", regulamento_path, class: "nav-link" %></li>
      </ul>
    </div>
    <% if current_user %>
        <div id="online-as">Online como: <%= current_user.email %>.</div>
    <div class="navigation-tools">
        <%= link_to "Log Out", logout_path, class: "sign-in" %>
        <%= link_to "Cadastrar Venda", edit_user_path(current_user.id), class: "sign-up" %>
      <% else %>
        <%= link_to "Participar", signup_path, class: "sign-in" %>
        <%= link_to "Cadastrar Venda", login_path, class: "sign-up" %>
      <% end %>
    </div>
  </div>
  <div id="hero">
    
  </div>
</header>

<script>
  $(function() {
    var menu = $('#navigation-menu');
    var menuToggle = $('#js-mobile-menu');
    var signUp = $('.sign-up');

    $(menuToggle).on('click', function(e) {
      e.preventDefault();
      menu.slideToggle(function(){
        if(menu.is(':hidden')) {
          menu.removeAttr('style');
        }
      });
    });

    // underline under the active nav item
    $(".nav .nav-link").click(function() {
      $(".nav .nav-link").each(function() {
        $(this).removeClass("active-nav-item");
      });
      $(this).addClass("active-nav-item"); 
      $(".nav .more").removeClass("active-nav-item");
    });
  });
</script>
